.icon-list {
    float: left;
    margin-left: -10px;
    margin-right: -20px;
    list-style-type: none;
}

li:before {
    content: '❌️';
    margin-left: -40px;
    margin-right: 5px;
}

.btn {
    width: 70px;
    margin-left: -10px;
}