<!DOCTYPE html>
<html lang="it">
  <head>
    <title>Pagina non trovata</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link
      rel="icon"
      href="../public/images/logo2.png"
      type="image/png"
      sizes="any"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../public/styles/palette.css"
    />
  </head>

  <body style="background-color: var(--primary-color)">
    <div
      style="
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <a href="/" class="mb-5">
        <img src="../public/images/logo2.png" alt="Logo" height="200" />
      </a>
      <h2 style="color: var(--text-color); margin-top: 150px">Errore 404</h2>
      <h1 style="color: var(--text-color); margin-bottom: 200px">
        La pagina che stavi cercando non esiste...
      </h1>
    </div>
  </body>
</html>
