<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>Editor di storie</title>
        <!-- BOOTSTRAP -->
        <link
            type="text/css"
            rel="stylesheet"
            href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="../public/stylesheets/editor.css"
        />
        <!-- Load polyfills to support older browsers -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

        <!-- Required scripts -->
        <script src="//unpkg.com/vue@latest/dist/vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    </head>
    <body>
        <div id="app">
            <b-navbar sticky id="topbar" type="dark" class="py-0 px-0">
                <b-navbar-brand href="/editor" class="py-0 mx-5">
                    <img
                        src="../public/images/logo2.png"
                        alt="Cyber Logo"
                        height="46"
                    />
                </b-navbar-brand>
                <b-navbar-nav>
                    <custom-navbar-item :item="item" v-for="item in navbar_items">
                    </custom-navbar-item>
                </b-navbar-nav>
            </b-navbar>
            <b-container fluid v-if="navbar_items[0].isActive">
                <b-row>
                    <b-col cols="auto" class="mr-auto ml-4">
                        <b-list-group horizontal>
                            <custom-list-item
                                :item="item"
                                v-for="item in list_items_stories"
                            ></custom-list-item>
                        </b-list-group>
                    </b-col>
                    <b-col cols="4" class="my-2 px-0">
                        <b-input-group id="searchbar" class="px-1">
                            <b-input-group-prepend is-text>
                                <b-icon-search></b-icon-search>
                            </b-input-group-prepend>
                            <b-form-input
                                spellcheck="false"
                                type="search"
                                placeholder="Cerca"
                                v-model="story_filter"
                            ></b-form-input>
                        </b-input-group>
                    </b-col>
                    <b-col cols="auto" class="my-2 mr-3 px-0">
                        <b-button class="px-4" @click="$bvModal.show('modal-add-simple-story')">Crea Nuova Storia</b-button>
                        <b-button class="px-4" @click="$bvModal.show('modal-add-simple-story')">Importa</b-button>
                        <b-button class="px-4" @click="$bvModal.show('modal-add-simple-story')">Esporta</b-button>
                        <add-simple-story-modal></add-simple-story-modal>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-table
                            v-if="list_items_stories[0].isActive"
                            borderless
                            hover
                            :busy="isBusy"
                            :filter="story_filter"
                            :filter-included-fields="story_filter_field"
                            :items="availableStories"
                            :fields="stories_fields"
                            tbody-tr-class="table-row"
                            thead-class="cell-title"
                        >
                            <template v-slot:cell(actions)="data">
                                <b-button
                                    size="sm"
                                    style="background-color: #8f65fc;"
                                    @click="onPublish(data)"
                                >
                                    <b-icon-play-fill></b-icon-play-fill>
                                </b-button>
                                <b-button
                                    size="sm"
                                    style="background-color: #003086;"
                                    @click="onArchive(data)"
                                >
                                    <b-icon-archive-fill></b-icon-archive-fill>
                                </b-button>
                                <b-button
                                    size="sm"
                                    style="background-color: #ff3d4a;"
                                    @click="onDelete(data)"
                                >
                                    <b-icon-trash-fill></b-icon-trash-fill>
                                </b-button>
                                <b-button
                                    size="sm"
                                    style="background-color: #00bec8;"
                                    @click="onEdit(data)"
                                >
                                    <b-icon-pencil-square></b-icon-pencil-square>
                                </b-button>
                                <b-button
                                    size="sm"
                                    style="background-color: #ffa300;"
                                    @click="onClone(data)"
                                >
                                    <b-icon-back></b-icon-back>
                                </b-button>
                            </template>
                            <template v-slot:table-busy>
                                <div class="text-center text-danger my-2">
                                    <b-spinner class="align-middle"></b-spinner>
                                    <strong>Loading...</strong>
                                </div>
                            </template>
                        </b-table>
                        <b-table
                        v-if="list_items_stories[1].isActive"
                        borderless
                        hover
                        :busy="isBusy"
                        :filter="story_filter"
                        :items="archivedStories"
                        :fields="stories_fields"
                        tbody-tr-class="table-row"
                        thead-class="cell-title"
                        >
                            <template v-slot:cell(actions)="data">
                                <b-button
                                    size="sm"
                                    style="background-color: #8f65fc;"
                                    @click="onPublish(data)"
                                >
                                    <b-icon-play-fill></b-icon-play-fill>
                                </b-button>
                                <b-button
                                    size="sm"
                                    style="background-color: #003086;"
                                    @click="onArchive(data)"
                                >
                                    <b-icon-archive-fill></b-icon-archive-fill>
                                </b-button>
                                <b-button
                                    size="sm"
                                    style="background-color: #ff3d4a;"
                                    @click="onDelete(data)"
                                >
                                    <b-icon-trash-fill></b-icon-trash-fill>
                                </b-button>
                                <b-button
                                    size="sm"
                                    style="background-color: #00bec8;"
                                    @click="onEdit(data)"
                                >
                                    <b-icon-pencil-square></b-icon-pencil-square>
                                </b-button>
                                <b-button
                                    size="sm"
                                    style="background-color: #ffa300;"
                                    @click="onClone(data)"
                                >
                                    <b-icon-back></b-icon-back>
                                </b-button>
                            </template>
                            <template v-slot:table-busy>
                                <div class="text-center text-danger my-2">
                                    <b-spinner class="align-middle"></b-spinner>
                                    <strong>Loading...</strong>
                                </div>
                            </template>
                        </b-table>
                    </b-col>
                </b-row>
            </b-container>
            <b-container fluid v-if="navbar_items[1].isActive">
                <b-row>

                </b-row>
            </b-container>
            <b-container fluid v-if="navbar_items[2].isActive">
                <b-row>
                    
                </b-row>
            </b-container>
        </div>

        <template id="custom-navbar-item">
            <b-nav-item
                :class="{ active : item.isActive }"
                @click="onClick"
                class="py-2 px-4"
            >
                {{item.name}}
            </b-nav-item>
        </template>

        <template id="custom-list-item">
            <b-list-group-item
                button
                class="px-2"
                :class="{ active : item.isActive }"
                @click="onClick"
            >
                <h3>{{ item.name }}</h3>
            </b-list-group-item>
        </template>

        <template id="add-simple-story-modal">
            <b-modal
                size="lg"
                id="modal-add-simple-story"
                title="Aggiungi una nuova storia"
                hide-footer
            >
                <b-container fluid>
                    <b-form @submit="onSubmit" @reset="onReset">
                        <b-form-group label="Titolo:" label-for="title">
                            <b-form-input
                                type="text"
                                v-model="form.title"
                                required
                                placeholder="Inserisci il titolo..."
                            ></b-form-input>
                        </b-form-group>
                        <b-form-group
                            id="stage_nr"
                            label="Numero di stage:"
                            label-for="stage_nr"
                        >
                            <b-form-input
                                id="stage_nr"
                                type="number"
                                min="1"
                                v-model="form.nr"
                                required
                                placeholder="Inserisci il numero di attività da svolgere..."
                            ></b-form-input>
                        </b-form-group>
                        <b-button variant="primary" type="submit"
                            >Salva</b-button
                        >
                        <b-button variant="secondary" type="reset"
                            >Indietro</b-button
                        >
                        <b-overlay :show="show" no-wrap></b-overlay>
                    </b-form>
                </b-container>
            </b-modal>
        </template>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- CUSTOM -->
        <script src="/public/javascripts/editor.js"></script>
    </body>
</html>
