<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Mistero al Museo</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div
            style="
                background-color: #121421;
                height: 100vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            "
        >
            <img
                class="mb-5"
                src="../public/images/logo2.png"
                alt="Logo"
                height="200"
            />
            <h1 class="m-5" style="color: white">Benvenuto in M&M</h1>
            <a href="/editor">Vai all'editor di storie</a>
        </div>
    </body>
</html>
