<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <title>Mistero al Museo</title>
    </head>
    <body>
        <div>
            <h1>Benvenuto in M&M</h1>
            <a href="/editor">Vai all'editor di storie</a>
            <a href="/story?_id=5f2eedb0eac34f0dd3c95986">Vai alla storia</a>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/public/javascripts/homepage.js"></script>
    </body>
</html>
