<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>Tutor</title>
        <!-- BOOTSTRAP -->
        <link
            type="text/css"
            rel="stylesheet"
            href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="../public/stylesheets/editor.css"
        />
        <!-- Load polyfills to support older browsers -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

        <!-- Required scripts -->
        <script src="//unpkg.com/vue@latest/dist/vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    </head>
    <body>
        <div id="app">
            <b-navbar sticky id="topbar" type="dark" class="py-0 px-0">
                    <b-navbar-brand href="/" class="py-0 mx-5">
                        <img
                            src="../public/images/logo2.png"
                            alt="Logo"
                            height="46"
                        />
                    </b-navbar-brand>    
            </b-navbar>
            <b-container fluid>
                <b-list-group>
                    <b-list-group-item
                        button
                        v-for="(item,index) in game.players"
                        :key="index"
                        class="px-2"
                    >
                        {{ item.player_id }}
                    </b-list-group-item>
                </b-list-group>    
            </b-container>
        </div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- CUSTOM -->
        <script src="/public/javascripts/tutor.js"></script>
        <script src="../public/javascripts/kjua-0.9.0.min.js"></script>
        
    </body>
</html>
