<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
    <head>
        <link
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
        />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../public/stylesheets/word.css" />
        <title>TYPING GAME</title>
    </head>

    <div class="container monster-container">
        <div class="row game-top"></div>
        <div class="row game-bottom">
            <div class="col-md-1 col-md-offset-6 game-me"></div>
        </div>
    </div>
    <body>
        <script src="../public/javascripts/word.js"></script>
    </body>
</html>
