body {
    background-color: #090A11;
    color: #ffffff;
    margin: 0px;
}

.modal-header {
    background-color: #1C1E2B;
    border: 0px;
}

.modal-footer {
    background-color: #1C1E2B;
    border: 0px;
}

.modal-content{
    background-color: #1C1E2B;
    color: #FFFFFF;
}

.modal-body{
    height: 20vh;
}

.btn {
    background-color: #171926;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 0 #00BD58;
    overflow-y: auto;
    outline: 0;
}

.form-control {
    background-color: #1A1C2C;
    color: #FFFFFF;
    border-radius: 10px;
}

.form-control:focus {
    background-color: #1A1C2C;
    color: #FFFFFF;
    box-shadow: none;
}