body {
    background-color: #121421;
}

/* NAVBAR E SUOI ELEMENTI */
.navbar {
    background-color: #1C1E2B;
}

.navbar .nav-item {
    box-sizing: border-box;
    transition: 0.5s;
    color: #848689;
}

.navbar .nav-item.active {
    box-shadow: 0 2px 0 #00BD58;
    color: #FFFFFF;
}

.navbar .nav-item:hover {
    background-color: #28293D;
}

/* TAB DELLE SCHERMATE (es. Storie e Archiviate) */
.tabs .list-group-item {
    background-color: transparent;
    border: 0px;
    color: #848689;
    white-space:nowrap;
}

.tabs .list-group-item:focus {
    outline: 0;
}

.tabs .list-group-item.active {
    color: white;
}

/* BOTTONE */
.btn {
    background-color: #1A1C2C;
    border: none;
    border-radius: 10px;
}

.btn.darker {
    background-color: #090A11;
}

/* LENTE INGRANDIMENTO INPUT */
.input-group-text {
    background-color: #1A1C2C;
    color: #848689;
    border: none;
    border-radius: 10px;
}

/* TEXT BOX INPUT */
.form-control {
    background-color: #1A1C2C;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.form-control:focus {
    background-color: #1A1C2C;
    color: #FFFFFF;
    border: none;
    box-shadow: none;
}

/* TABELLA STORIE/MISSIONI/ATTIVITA' */
.b-table {
    border-collapse: separate;
    border-spacing: 0px 15px;
}

.table-row {
    background-color: #171926;
    color: #FFFFFF;
}

.cell-default {
    color: #FFFFFF;
}

.cell-true {
    color: #00CA5B;
    font-size: 14px;
    text-align: center;
}

.cell-false {
    color: #FF3D4A;
    font-size: 14px;
    text-align: center;
}

/* MODAL */

.modal-header {
    background-color: #1C1E2B;
    border: 0px;
}

.modal-footer {
    background-color: #1C1E2B;
    border: 0px;
}

.modal-content{
    background-color: #121421;
    color: #FFFFFF;
}

.modal-body {
    padding: 0px;
}

.modal-xl .modal-header {
    padding:  0px;
    background-color: #1C1E2B;
    border: 0px;
    height: 60px;
}

.modal-xl .modal-footer {
    background-color: #1C1E2B;
    border: 0px;
    height: 68px;
}

.modal-xl .modal-content{
    background-color: #121421;
    color: #FFFFFF;
    height: calc(100vh - 56px);
}

.modal-xl .modal-body {
    padding: 0px;
    height: calc(100vh - 60px - 68px - 56px);
}

/* ELEMENTO MISSIONE NEL MODAL */
.mission-group-item .list-group-item {
    background-color: #171926;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 0 #00BD58;
    overflow-y: auto;
    outline: 0;
}

.mission-group-item .list-group-item:hover {
    background-color:#1C1E2B;
}

.mission-group-item .list-group-item:focus {
    background-color:#1C1E2B;
}

/* ELEMENTO INATTIVO MISSIONE NEL MODAL */
.mission-group-item .list-group-item.unavailable {
    color: #848689;
    box-shadow: 0 2px 0 #848689;
}

/* PRIMA COLONNA DEL MODAL */
.menu-column {
    height: calc(100vh - 60px - 68px - 28px - 28px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #090A11;
}

.menu-column .list-group-item {
    background-color: transparent;
    border: 0px;
    color: #848689;
    box-sizing: border-box;
    transition: 0.5s;
    outline: 0;
    border-radius: 0px;
}

.menu-column .list-group-item:hover {
    background-color: #28293D; 
}

.menu-column .list-group-item:focus {
    background-color: #28293D;
}

.menu-column .list-group-item.active{
   color: white;
   box-shadow: 0px 3px 0px  #00BD58;
}

.activity-button {
    width: 200px;
    height: 100px;
}

.scrollable {
    height: calc(100vh - 60px - 68px - 56px - 54px);
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable-both {
    height: calc(100vh - 60px - 68px - 56px - 54px);
    overflow-y: auto;
    overflow-x: auto;
}

.mission-group-item .list-group-item.selected_path {
    background-color: #00BD58;
}

.selezionate{
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    color: #ffffff;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 64px - 68px - 56px);
    
}

.edit-title{
    display: inline-block
}

.bv-no-focus-ring{
    text-align: center;
}

.path-label {
    color: #FFFFFF;
    background-color: transparent;
}

.unavailable .path-label {
    color: #848689;
}

.path-label:disabled {
    background-color: transparent;
}

.path-label:hover {
    background-color: transparent;
}