body {
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {

}

.left-phrase {
  position: absolute;
  border: 3px solid blueviolet;
  left: 5%;
}

.right-phrase {
  position: absolute;
  border: 3px solid yellowgreen;
  right: 5%;
}