@import url(https://cdn.bootcss.com/magic/1.1.0/magic.min.css);

.body-preview {
  border: solid 1px pink;
}
body {
  background: #ddd;
  display: flex;
  flex-wrap: wrap;

}
.game-top {

  top: 5vh;
  height: 90vh;
  background: #000;
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #ccff00;
}
.game-top .monster-col {
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}
.game-top .monster-col .monster {
  background: #000;
  position: relative;
  border: solid 1px #fdee00;
  padding: 4px;
  border-radius: 5px;
}
.game-top .bullet {
  color: red;
  margin-left: 2%;
  position: absolute;
  top: 79vh;
  z-index: 99999;
}
.game-bottom {
  display: flex;
  flex-wrap: wrap;  /*serve per ridimensionare la barra dove si spara e renderla dinamica*/
  border: solid 2px #f0f590; /*larghezza bordo dove sta la barra che spara*/
  position: relative;
}
.game-bottom .game-me {
  background: #ccff00;
  height: 10px; /*larghezza barra spara parole*/
}

/*
.nav-wrapper{
  display: flex;
  justify-content: space-between;
}


.bottons-try{
  background-color:  black;
  height: 75px;
  width: 75px;
  position: absolute;
  right: 0px;

}*/
